

.image-info {
    color: blue;
    height: 380px;
    width: 400px;
}

.checked {
    color: orange;
}

.yud {
    text-align: center;
}

.yud .li {
    text-align: center;
}

.hi {

    text-align: center;
}
